branches:
  only:
    - master

clone_depth: 50

environment:
  matrix:
    - GENERATOR: "Visual Studio 12 2013"
      JUCE_VERSION: "4.2.0"

    - GENERATOR: "Visual Studio 12 2013"
      JUCE_VERSION: "4.3.1"

    - GENERATOR: "Visual Studio 14 2015"
      JUCE_VERSION: "4.2.0"

    - GENERATOR: "Visual Studio 14 2015"
      JUCE_VERSION: "4.3.1"

install:
  - cmake --version

  - set JUCE_ROOT="%APPVEYOR_BUILD_FOLDER%/ci/tmp/JUCE-%JUCE_VERSION%"
  - git clone --branch=%JUCE_VERSION% --depth=1 --single-branch -- https://github.com/WeAreROLI/JUCE.git "%JUCE_ROOT%"

build_script:
  # Configure and build BinaryDataBuilder, IconBuilder and Jucer2Reprojucer
  - mkdir %APPVEYOR_BUILD_FOLDER%\ci\ReprojucerHelpers\build
  - cd %APPVEYOR_BUILD_FOLDER%\ci\ReprojucerHelpers\build
  - >
    cmake .. -G "%GENERATOR%"
    -DJUCE_ROOT="%JUCE_ROOT%"
    -DJUCE_modules_DIRS="%JUCE_ROOT%/modules"
  - cmake --build . --config Debug

  # Check that generated CMakeLists.txt files are up-to-date
  - cd %APPVEYOR_BUILD_FOLDER%
  - >
    cmake
    -DJUCE_ROOT="%JUCE_ROOT%"
    -DJucer2Reprojucer_EXE="ci/ReprojucerHelpers/build/Jucer2Reprojucer/Debug/Jucer2Reprojucer.exe"
    -Dgenerated_JUCE_ROOT="Jucer2Reprojucer/generated/JUCE-%JUCE_VERSION%"
    -P Jucer2Reprojucer/generated/apply-Jucer2Reprojucer-to-JUCE-jucers.cmake
  - git diff --quiet

  # Configure all JUCE projects
  - mkdir %APPVEYOR_BUILD_FOLDER%\ci\AllJuceProjects\build
  - cd %APPVEYOR_BUILD_FOLDER%\ci\AllJuceProjects\build
  - >
    cmake .. -G "%GENERATOR%"
    -DJUCE_VERSION="%JUCE_VERSION%"
    -DJUCER_VST_SDK_FOLDER="%APPVEYOR_BUILD_FOLDER%/ci/third-party/vstsdk366_27_06_2016_build_61/VST3 SDK"
    -DJUCER_VST3_SDK_FOLDER="%APPVEYOR_BUILD_FOLDER%/ci/third-party/vstsdk366_27_06_2016_build_61/VST3 SDK"

  # Configure and build JUCE's Plugin Host, JuceDemoPlugin and Projucer
  - mkdir %APPVEYOR_BUILD_FOLDER%\ci\JuceProjects\build
  - cd %APPVEYOR_BUILD_FOLDER%\ci\JuceProjects\build
  - >
    cmake .. -G "%GENERATOR%"
    -DJUCE_VERSION=%JUCE_VERSION%
    -DJUCER_VST_SDK_FOLDER="%APPVEYOR_BUILD_FOLDER%/ci/third-party/vstsdk366_27_06_2016_build_61/VST3 SDK"
    -DJUCER_VST3_SDK_FOLDER="%APPVEYOR_BUILD_FOLDER%/ci/third-party/vstsdk366_27_06_2016_build_61/VST3 SDK"
    -DJuceDemoPlugin_jucer_FILE="%JUCE_ROOT%/examples/audio plugin demo/JuceDemoPlugin.jucer"
    -DPlugin_Host_jucer_FILE="%JUCE_ROOT%/examples/audio plugin host/Plugin Host.jucer"
    -DProjucer_jucer_FILE="%JUCE_ROOT%/extras/Projucer/Projucer.jucer"
  - cmake --build . --config Debug
