clone_depth: 50

branches:
  only:
    - master

install:
  - cmake --version

  - git clone --quiet https://github.com/julianstorer/JUCE.git ../JUCE --depth=1

  - mkdir C:\SDKs
  - ps: Invoke-WebRequest -Uri http://www.steinberg.net/sdk_downloads/vstsdk366_27_06_2016_build_61.zip -OutFile C:\SDKs\vstsdk3.zip
  - 7z x C:\SDKs\vstsdk3.zip -oC:\SDKs

build_script:
  - mkdir "examples\audio plugin host\build"
  - cd "examples\audio plugin host\build"
  - cmake ..
  - cmake --build . --config Debug
  - cmake --build . --config Release

  - cd %APPVEYOR_BUILD_FOLDER%

  - mkdir examples\NetworkGraphicsDemo\build
  - cd examples\NetworkGraphicsDemo\build
  - cmake ..
  - cmake --build . --config Debug
  - cmake --build . --config Release
