# Using clang-format 9.0.0

AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 90
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentPPDirectives: BeforeHash
MaxEmptyLinesToKeep: 2
PenaltyReturnTypeOnItsOwnLine: 120
PointerAlignment: Left
