# Using clang-format 3.7.0

AlignAfterOpenBracket: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 90
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
