branches:
  only:
    - master

os: osx

install:
  - cmake --version

  - git clone --depth=10 --quiet -- https://github.com/WeAreROLI/JUCE.git ../JUCE
  - cd ../JUCE
  - git reset --hard 75cd666a61f31eaa3ee6c6d9ad97bc404878a0d8
  - cd $TRAVIS_BUILD_DIR

  - mkdir ~/SDKs
  - curl --location --output ~/SDKs/vstsdk3.zip http://www.steinberg.net/sdk_downloads/vstsdk367_03_03_2017_build_352.zip
  - unzip -q ~/SDKs/vstsdk3.zip -d ~/SDKs

script:
  - mkdir "examples/audio plugin host/build"
  - cd "examples/audio plugin host/build"
  - cmake .. -G Xcode
  - cmake --build . --config Debug
  - cmake --build . --config Release

  - cd $TRAVIS_BUILD_DIR

  - mkdir examples/NetworkGraphicsDemo/build
  - cd examples/NetworkGraphicsDemo/build
  - cmake .. -G Xcode
  - cmake --build . --config Debug
  - cmake --build . --config Release

  - cd $TRAVIS_BUILD_DIR

  - mkdir extras/Projucer/build
  - cd extras/Projucer/build
  - cmake .. -G Xcode
  - cmake --build . --config Debug
  - cmake --build . --config Release

  - cd $TRAVIS_BUILD_DIR

  - mkdir "examples/audio plugin demo/build"
  - cd "examples/audio plugin demo/build"
  - cmake .. -G Xcode
  - cmake --build . --config Debug
  - cmake --build . --config Release
