os: osx

branches:
  only:
    - master

install:
  - cmake --version

  - git clone -q https://github.com/julianstorer/JUCE.git ../JUCE --depth=1

script:
  - mkdir examples/HelloWorld/build
  - cd examples/HelloWorld/build
  - cmake ..
  - cmake --build .
